<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="world.chat.kishor.monus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Menus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".PopUpMenu"></activity>
        <activity android:name=".AlertDialogBox">

        </activity>
        <activity android:name=".CutomizeAlertDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>